# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE Settings
.idea/*

#OS Settings
.DS_Store

# Test binary, built with `go test -c`
*.test

bin
.go
.push-*
.container-*
.dockerfile-*

/coverage.out
